@media screen and (min-width: 601px) {
    .fixToTop{
        position: fixed !important;
        top:0px;
        bottom: unset !important;
    }

    .navItem {
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
    }

    .navItem:hover {
        transform: scale(1.2)
    }
}