@media only screen and (max-width: 600px), 
    (hover: none) {
    #navbar {
        flex-direction: column;
        padding: 0%;
    }

    .centered {
        transform: translate(-50%, -70%);
    }

    .navItem {
        height: auto;
        width: 100%;
        text-align: center;
        padding: 2% 0%;
    }
}