@media only screen and (max-width: 600px), 
    (hover: none) {
    #navbar {
        flex-direction: column;
        padding: 0%;
    }

    .navItem {
        height: auto;
        width: 100%;
        text-align: center;
        padding: 4% 0%;
    }
}